[Unit]
Description=MemeCoin Sniper — میم‌کوین پامپ هانتر
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/mems_sniper

ExecStart=/root/mems_sniper/venv/bin/python main.py
Restart=always
RestartSec=10

EnvironmentFile=/root/mems_sniper/.env
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1

LimitNOFILE=65536

StandardOutput=journal
StandardError=journal
SyslogIdentifier=memecoin-sniper

[Install]
WantedBy=multi-user.target
